.bb-container {
  padding: 20px;
}

.board {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  border: 3px solid #000;
  margin-bottom: 25px;
  position: relative;
}

.empty {
  background: #eee;
  border: 1px solid #ccc;
}

.filled {
  background: #3b82f6;
  border: 1px solid #1e40af;
}

.pieces-container {
  display: flex;
  gap: 20px;
}

.piece {
  display: inline-grid;
  grid-auto-rows: 25px;
  grid-auto-columns: 25px;
  background: #fafafa;
  padding: 10px;
  border: 2px solid #000;
}

.p-filled {
  background: #3b82f6;
  border: 1px solid #1e40af;
}

.p-empty {
  background: transparent;
}

.empty-piece {
  opacity: 0.4;
  padding: 20px;
  border: 2px dashed #aaa;
}

.click-overlay {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 138px; /* depends on layout */
  left: 20px;
  cursor: pointer;
}
